/* CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Arial, sans-serif;
}

/* General style */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  max-width: 1000px;
  min-width: 400px;
  margin: 0 auto;
  padding: 2vh 0;
  gap: 2vh;
}

h1 {
  font-size: 2rem;
}

button {
  background-color: #E3F1FF;
  border: 1.5px solid #77b5f2;
  border-radius: 5px;
  padding: 8px 10px;
  cursor: pointer;
  font-weight: 500;
  font-size: 0.8rem;
  transition: transform 0.2s ease-in-out;
}

button:hover {
  transform: scale(1.05);
}

@media (width < 640px) {
  button {
    padding: 14px 10px;
    font-size: 1rem;
    font-weight: 700 ;
  }

  button:hover {
    transform: none;
  }
}

/* Hero Section style */
.hero {
  display: flex;
  width: 100%;
  background-color: #E3F1FF;
  border-radius: 5px;
}

.hero-right-panel {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.hero-img {
  width: 60%;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.hero-text-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: start;
  justify-content: center;
  padding: 0 12%;
}

.hero-trendy {
  display: flex;
  gap: 0.4rem;
  font-size: 0.6rem;
  font-weight: 600;
}

.hero-trendy img {
  height: 1rem;
}

.hero-text-content > p {
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1.1rem;
}

.right-arrow {
  display: flex;
  width: 100%;
  cursor: pointer;
  justify-content: end;
  align-items: end;
}

.right-arrow img {
  width: 15px;
}

@media (width < 640px) {
  .hero {
    flex-direction: column;
    border-radius: 10px;
  }

  .hero-img {
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 0px;
  }

  .hero-trendy {
    font-size: 0.8rem;
  }

  .hero-text-content {
    padding: 5%;
  }

  .hero-text-content > p {
    font-size: 1rem;
    line-height: 1.6rem;
  }

  .hero-text-content > h2 {
    font-size: 2rem;
  }

  .right-arrow {
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #fff;
    align-self: end;
    margin: 0 25px 25px 0;
  }
}

/* Recipes style */

.recipe-header {
  width: 100%;
  margin-top: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recipe-header h3 {
  font-size: 1.6rem;
  font-weight: 700;
}



.recipe-container {
  display: grid;
  grid-template: repeat(1 , 1fr) / repeat(3, 1fr);
  width: 100%;
  gap: 20px;
}

.recipe {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-weight: 700;
  font-size: 0.8rem;
}

.recipe > img {
  border-radius: 4px;
  width: 100%;
}

.recipe-banner {
  display: flex;
  justify-content: space-between;
}

.stars {
  display: flex;
  gap: 4px;
}

.recipe-banner img {
  width: 10px;
}

.trash {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.trash:hover {
  transform: scale(1.2);
}

@media (width < 640px) {
  .recipe-header {
    margin-top: 2vh;
    margin-bottom: 1vh;
  }

  button {
    padding: 14px 10px;
    font-size: 1rem;
    font-weight: 700 ;
  }

  .recipe-container {
    grid-template: repeat(3, 1fr) / repeat(1, 1fr);
    gap: 30px;
  }

  .recipe {
    gap: 15px;
    font-weight: 700;
    font-size: 1.3rem;
  }
  .recipe > img {
    border-radius: 10px;
  }

  .recipe-banner img {
    width: 15px;
  }
}

/* Pop-up style */
.popup-container {
  position: fixed;
  z-index: 10;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.358);
  display: none;
  justify-content: center;
  align-items: center;
}

.popup {
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  font-weight: 700;
  font-size: 0.8rem;
  padding: 25px 15px 25px 25px;
}

.popup-title {
  font-size: 1.5rem;
  text-decoration: underline;
}

.new-recipe-datas {
  display: flex;
  gap: 50px;
}

.recipe-data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

input {
  border: #77b5f2 2px solid;
  border-radius: 5px;
  padding: 5px;
  width: 300px;
}

.star-container {
  display: flex;
  gap: 10px;
}

.star-container > * {
  width: 15px;
}

.popup button {
  padding: 14px 10px;
}

@media (width < 640px) {
  .popup {
    font-size: 1.2rem;
  }

  .new-recipe-datas{
    flex-direction: column;
  }

  .recipe-data{
    align-items: center;
  }

  .star-container {
    gap: 15px;
  }
  .star-container > * {
    width: 25px;
  }
}